.main {
    margin-top: 12.5%;
    display: flex;
    justify-content: center;
  
    align-items: center;
    gap: 3rem;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.st{
   background-color: black; 
}
